.recommendations {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 83px - 83px);
}

.anime {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 50vw;
  min-height: calc(100vh - 83px - 83px);
}

.music {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-width: 50vw;
  min-height: calc(100vh - 83px - 83px);
}

.animeContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px;
  background-image: url("/image/coffee_background.jpg");
  min-width: 400px;
  min-height: 400px;
  border-radius: 10px;
}

.musicContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px;
  background-image: url("/image/coffee_background.jpg");
  min-width: 400px;
  min-height: 400px;
  border-radius: 10px;
}

.listsTitles {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(201, 188, 167);
  border-radius: 10px;

  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  padding-bottom: 50px;
  margin-bottom: -40px;
  max-height: 410px;
}

ul * {
  background-color: rgb(201, 188, 167);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  min-width: 400px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  text-decoration: underline;
}

ul :last-child {
  margin-bottom: 0;
}

li {
  text-align: center;
}
