.mario {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  width: 200px;
  position: absolute;
  transform: translateY(-164.47px);
}

.marioImage {
  width: 45px;
  margin-left: 2.5em;
  margin-bottom: -5px;
  z-index: -1;
}

.marioImage:hover {
  animation-name: goDownPipe;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.pipe {
  width: 130px;
}

@keyframes goDownPipe {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(80px);
  }
}
