.mario {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  width: 200px;
  position: absolute;
  transform: translateY(-164.47px);
}

.marioImage {
  width: 45px;
  margin-left: 2.5em;
  margin-bottom: -5px;
}

.marioImage:hover {
  opacity: 0;
}



.pipe {
  width: 130px;
}
