.navbar {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  background-image: url("/image/coffee_background.jpg");
  background-size: cover;
  width: 100%;
  color: white;
}

.siteLogo {
  display: inline-flex;
  align-items: center;
  font-family: "Libre Baskerville", serif;
}

.siteLogo img {
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50%;
  border: 3px solid rgb(93, 24, 24);
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(250, 246, 239);
  border: 3px solid rgb(93, 24, 24);
  margin-right: 20px;
  padding: 12.5px;
  border-radius: 20px;
  font-size: 20px;
}

.navLinks a {
  padding: 5px;
  text-decoration: none;
  color: black;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.navLinks a:hover {
  text-decoration: underline;
  animation: bounce;
  animation-duration: 0.2s;
}
