.row4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/image/coffee_background.jpg");
  padding: 20px;
  border-radius: 10px;
}

.row4 * {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: brown;
  margin: 20px;
  background-color: rgb(201, 188, 167);
  border-radius: 10px;
}

.row4 p {
  font-size: 50px;
}
